pyspark==3.3.2
delta-spark==2.3.0
pytest==7.2.1
pytest-cov==4.0.0
pytest-mock==3.10.0
python-dotenv==0.21.0
pydantic==1.10.2
pyarrow==10.0.1
pytz==2022.7
faker==15.3.0
flake8==5.0.4
mypy==0.991
black==22.12.0
